.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    margin-top: 50px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .show {display: block;}

  .dropbtn{
    cursor: pointer;
  }

.icon {
    transform: rotate(360deg);
    transition: 1s transform;
}

.icon.selected {
    animation: spin 1s;
    transform: rotate(3600deg);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(3600deg);
    }
}


.value{
 float: right;
 border-radius: 100px;
 /* margin-top:-6%; */
 text-align:center;
 border:'1px solid';
 height: 40px;
 width: 100px;
}

.transform{
  transition: all 2s ease;
}

.transform-active{
  background-color: #45cee0;
  height: 40px;width: 100px;
}


.dropdown-listanswer {
 
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-listanswer a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.show {display: block;}


.value2 {

  float: center;
  text-align:left;
  border:'1px solid';
  max-height:0px;
  margin-left: 23%;
  width: 0px;
  overflow: hidden;
  /* white-space: nowrap; */
}

/* .value3{
    float: center;
    text-align:left;
    border:'1px solid';
    max-height:0px;
    margin-left: 23%;
    width: 0px;
    overflow: hidden;
    /* white-space: nowrap; */
  


/* .value2:hover{
   width: 400px
} */



.show2
{
  /* transition: all 1s ease-in ; */
  
  /* background-image: url('https://media.istockphoto.com/photos/and-a-question-and-answer-shot-form-on-wooden-block-picture-id1337475990?b=1&k=20&m=1337475990&s=170667a&w=0&h=mkuwkXiXwCjfmbzOYt76tT0KWj06wJ2DaLXllzGIa1M='); */
  max-height:600px;
  margin-left: 23%;
  width: 71%;
  text-align: left;
  padding-left: 2%;
  /* word-break: break-all; */
  overflow-wrap: break-word;
}

.mklist{
  background-image: url('https://media.istockphoto.com/photos/and-a-concept-yellow-question-mark-glowing-amid-black-question-marks-picture-id1305169776?b=1&k=20&m=1305169776&s=170667a&w=0&h=mpYdh2MzGN_rqxoRNlO5KWGCCq3ZktzSfp-wA0nD9no=');
  color: white;
  font-family: none;
  padding-left: 14px;
  border-radius: 20px;
  box-shadow: 1px 0px 10px 7px;
}


/* .value{
  float: right;
  border-radius: 100px;
  /* margin-top:-6%; */
  /* text-align:center;
  border:'1px solid';
  height: 40px;
  width: 100px;
 }
  */
 /* .transform{
   transition: all 2s ease;
 }
 
 .transform-active{
   background-color: #45cee0;
   height: 40px;width: 100px;
 }
  */








